name: Run Account Service Test

on:
  workflow_dispatch:   # lets teammates click "Run workflow"
  push:
    branches: ["main"] # runs automatically when you push to main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run test script
        env:
          BASE_URL: https://account-management-service-1.onrender.com
        run: |
          python test_file.py
